<style>
    .account-menu {
        display: flex;
        justify-content: space-between;
    }
    .account-menu > * {
        margin: 1rem 0;
    }
    .account-menu-button {
        padding: 0;
        background-color: white;
        border: none;

        align-self: end;
    }
</style>

<div class="account-menu container">
    <h1>Accounts</h1>
    <div class="account-menu-button">
        <button class="account-menu-button"><span class="material-symbols-outlined">download</span></button>
        <button class="account-menu-button"><span class="material-symbols-outlined">content_copy</span></button>
    </div>
</div>
