<style>
    .container {
        margin-top: 2rem;
    }
    .transaction {
        height: 3rem;
        margin: 3px 0;
        padding: 0 1rem;
        border-bottom: 1px solid #EEEEEE;

        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    }
    .transaction > * {
        align-self: center;
    }

    .transaction-filter {
        display: flex;
    }

    .transaction-header > * {
        color: #AAAAAA;
    }

    .transaction-left {
        justify-self: left;
    }
    .transaction-right {
        justify-self: right;
    }
</style>

<div class="container">
    <div>
        <h1>Transactions</h1>
    </div>
    <div class="transaction transaction-header">
        <span>#</span>
        <div class="transaction-filter">
            <span>Date</span>
            <span class="material-symbols-outlined">expand_more</span>
        </div>
        <div class="transaction-filter">
            <span>Type</span>
            <span class="material-symbols-outlined">expand_more</span>
        </div>
        <div class="transaction-filter">
            <span>Amount</span>
            <span class="material-symbols-outlined">expand_more</span>
        </div>
        <div class="transaction-filter">
            <span>Status</span>
            <span class="material-symbols-outlined">expand_more</span>
        </div>
    </div>
    <div class="transaction" 
    *ngFor="let transaction of transactions; index as i">
        <span>{{i+1}}</span>
        <span>{{transaction.date | date:"mediumDate"}}</span>
        <span>{{transaction.characteristics?.bankTransactionCode?.family}}</span>
        <div style="display: inline-block">
            <span>{{transaction.amount.value}}</span>
            <span>&nbsp;{{transaction.amount.currency}}</span>
        </div>
        <span>{{transaction.reconciliation.status}}</span>
        <span class="transaction-right material-symbols-outlined">chevron_right</span>
    </div>
</div>